<h1>File Upload</h1>
<%= form_tag :action => 'uploadFile', :multipart => true do %>
  <p><label for="upload_file">Select File</label> : 
  <%= file_field 'file', 'datafile' %></p>
  <%= submit_tag 'Upload' %>
<% end %>
